<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WS_POS_web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Ws_POS_web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="conexion" value="Data Source=10.10.3.13;Initial Catalog=SOFTLUTION;User ID=aguerrero;Password=aguerrero"/>
    <add key="conexionPOS" value="Data Source=10.10.3.26;Initial Catalog=SOFTLUTION;User ID=aguerrero;Password=aguerrero"/>   
    <add key="conexionPINPAD" value="Data Source=10.10.3.13;Initial Catalog=dbPinPad;User ID=aguerrero;Password=aguerrero"/>
    <!--<add key="conexionPOS" value="Data Source=10.10.3.26;Initial Catalog=SOFTLUTION;User ID=fchuisaca;Password=F38201++"/>-->
    <add key="conexionBIN" value="Data Source=10.10.3.26;Initial Catalog= SOFTLUTION;User ID=aguerrero;Password=aguerrero"/>
    <add key="UsuarioSap" value="AJE_WS"/>
    <add key="ContreSap" value="W19+25s."/>
    <add key="IVA" value="12"/>
    <add key="directorioActualizacion" value="\\\\10.10.3.93\\imagenes\\Bazar"/>
    <add key="ipServidorActualizacion" value="10.10.3.93"/>
    <add key="carpetaCompartida" value="imagenes"/>
    <add key="usuarioCarpeta" value="Administrador"/>
    <add key="passCarpeta" value="S4n1d4d."/>

    <add key="conexionPOSWeb" value="Data Source=10.10.3.26;Initial Catalog=dbODISEO;User ID=aguerrero;Password=aguerrero"/>
    <add key="conexionPOSWeb_PRD" value="Data Source=10.10.3.13;Initial Catalog=dbODISEO;User ID=aguerrero;Password=aguerrero"/>
    <add key="esProduccion" value="N"/>
  </appSettings>
  <connectionStrings/>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <!--
      La sección <authentication> habilita la configuración 
      del modo de autenticación de seguridad que usa 
      ASP.NET para identificar a un usuario entrante. 
    -->
    <authentication mode="Windows"/>
    <!--
       La sección <customErrors> habilita la configuración de 
       las acciones que se deben realizar si un error no controlado tiene lugar
       durante la ejecución de una solicitud. En concreto, 
       permite a los desarrolladores configurar páginas de error html 
       que se mostrarán en lugar de un seguimiento de pila de errores.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="accept, content-type, SOAPAction"/>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASP.NET AJAX en Internet
        Information Services 7.0.  No es necesaria para la versión anterior de IIS.
  -->
  <applicationSettings>
    <WS_POS_web.Properties.Settings>
      <setting name="WS_POS_web_Ws_obt_vend_PRD_ZSDWS_POS_CONSULTA_VENDEDORES"
        serializeAs="String">
        <value>http://ajeprd.eljuric.com:8000/sap/bc/srt/rfc/sap/zsdws_pos_consulta_vendedores/400/zsdws_pos_consulta_vendedores/zsdws_pos_consulta_vendedores_binding</value>
      </setting>
      <setting name="WS_POS_web_Ws_obt_vend_ZSDWS_POS_CONSULTA_VENDEDORES"
        serializeAs="String">
        <value>http://AJEQAS:8000/sap/bc/srt/rfc/sap/zsdws_pos_consulta_vendedores/400/zsdws_pos_consulta_vendedores/zsdws_pos_consulta_vendedores_binding</value>
      </setting>
      <setting name="WS_POS_web_Ws_Get_Cliente_PRD_ZSDWS_POS_CONSULTA_CLIENTES"
        serializeAs="String">
        <value>http://ajeprd.eljuric.com:8000/sap/bc/srt/rfc/sap/zsdws_pos_consulta_clientes/400/zsdws_pos_consulta_clientes/zsdws_pos_consulta_clientes_binding</value>
      </setting>
      <setting name="WS_POS_web_Ws_Financiamiento_PRD_ZWS_PRECIO_DESC_FINANCIAMIENTO"
        serializeAs="String">
        <value>http://ajeprd.eljuric.com:8000/sap/bc/srt/rfc/sap/zws_precio_desc_financiamiento/400/zws_precio_desc_financiamiento/binding1</value>
      </setting>
      <setting name="WS_POS_web_Ws_Financiamiento_ZWS_PRECIO_DESC_FINANCIAMIENTO"
        serializeAs="String">
        <value>http://AJEQAS:8000/sap/bc/srt/rfc/sap/zws_precio_desc_financiamiento/400/zws_precio_desc_financiamiento/zws_precio_desc_financiamiento_binding</value>
      </setting>
      <setting name="WS_POS_web_Ws_Get_Cliente_ZSDWS_POS_CONSULTA_CLIENTES"
        serializeAs="String">
        <value>http://AJEQAS:8000/sap/bc/srt/rfc/sap/zsdws_pos_consulta_clientes/400/zsdws_pos_consulta_clientes/zsdws_pos_consulta_clientes_binding</value>
      </setting>
      <setting name="WS_POS_web_Ws_Precios_Materiales_ZWS_ITEMS_VALORES_FACTURAService"
        serializeAs="String">
        <value>http://AJEQAS:8000/sap/bc/srt/rfc/sap/zws_items_valores_factura/400/zws_items_valores_factura/zws_items_valores_factura</value>
      </setting>
      <setting name="WS_POS_web_Ws_Creacion_Cliente_N_PRD_ZWS_CREATER_COSTUMER_2010"
        serializeAs="String">
        <value>http://ajeprd.eljuric.com:8000/sap/bc/srt/rfc/sap/zws_creater_costumer_2010/400/zws_creater_costumer_2010/zws_creater_costbinding</value>
      </setting>
      <setting name="WS_POS_web_Ws_Creacion_Cliente_N_ZWS_CREATER_COSTUMER_2010"
        serializeAs="String">
        <value>http://AJEQAS:8000/sap/bc/srt/rfc/sap/zws_creater_costumer_2010/400/zws_creater_costumer_2010/zws_creater_costbinding</value>
      </setting>
      <setting name="WS_POS_web_Ws_Get_Material_PRD_ZSDWS_POS_CONSULTA_MATERIAL3"
        serializeAs="String">
        <value>http://ajeprd.eljuric.com:8000/sap/bc/srt/rfc/sap/zsdws_pos_consulta_material3/400/zsdws_pos_consulta_material3/binding</value>
      </setting>
      <setting name="WS_POS_web_Ws_Get_Material_ZSDWS_POS_CONSULTA_MATERIAL3"
        serializeAs="String">
        <value>http://AJEQAS:8000/sap/bc/srt/rfc/sap/zsdws_pos_consulta_material3/400/zsdws_pos_consulta_material3/zsdws_pos_consulta_material3_binding</value>
      </setting>
      <setting name="WS_POS_web_Ws_Ampliacion_PRD_ZWS_AMPLIA_CLIENTE_TABLET"
        serializeAs="String">
        <value>http://ajeprd.eljuric.com:8000/sap/bc/srt/rfc/sap/zws_amplia_cliente_tablet/400/zws_amplia_cliente_tablet/zws_amplia_cliente_tablet_binding</value>
      </setting>
      <setting name="WS_POS_web_Ws_Combos_ZWS_CONSULTA_COMBOS_TABLET"
        serializeAs="String">
        <value>http://AJEQAS:8000/sap/bc/srt/rfc/sap/zws_consulta_combos_tablet/400/zws_consulta_combos_tablet/zws_consulta_combos_tablet_binding</value>
      </setting>
      <setting name="WS_POS_web_Ws_Combos_PRD_ZWS_CONSULTA_COMBOS_TABLET"
        serializeAs="String">
        <value>http://ajeprd.eljuric.com:8000/sap/bc/srt/rfc/sap/zws_consulta_combos_tablet/400/zws_consulta_combos_tablet/zws_consulta_combos_tablet_binding</value>
      </setting>
      <setting name="WS_POS_web_Ws_Precios_cep_PRD_ZWS_SDNETPR0_CEP"
        serializeAs="String">
        <value>http://ajeprd.eljuric.com:8000/sap/bc/srt/rfc/sap/zws_sdnetpr0_cep/400/zws_sdnetpr0_cep/zws_sdnetpr0_cep_binding</value>
      </setting>
      <setting name="WS_POS_web_Ws_Precios_cep_ZWS_SDNETPR0_CEP" serializeAs="String">
        <value>http://AJEQAS:8000/sap/bc/srt/rfc/sap/zws_sdnetpr0_cep/400/zws_sdnetpr0_cep/zws_sdnetpr0_cep_binding</value>
      </setting>
      <setting name="WS_POS_web_Ws_Get_Material__Price_PRD_ZWS_SDNETPR0"
        serializeAs="String">
        <value>http://ajeprd.eljuric.com:8000/sap/bc/srt/rfc/sap/zws_sdnetpr0/400/zws_sdnetpr0/zws_sdnetpr0_binding</value>
      </setting>
      <setting name="WS_POS_web_Ws_CaractMat_PRD_ZSD_WS_CARACTERISCITA_MAT"
        serializeAs="String">
        <value>http://ajeprd.eljuric.com:8000/sap/bc/srt/rfc/sap/zsd_ws_caracteriscita_mat/400/zsd_ws_caracteriscita_mat/binding</value>
      </setting>
      <setting name="WS_POS_web_Ws_CaractMat_ZSD_WS_CARACTERISCITA_MAT"
        serializeAs="String">
        <value>http://AJEQAS:8000/sap/bc/srt/rfc/sap/zsd_ws_caracteriscita_mat/400/zsd_ws_caracteriscita_mat/zsd_ws_caracteriscita_mat_binding</value>
      </setting>
      <setting name="WS_POS_web_Ws_material_lote_serie_alma_ZWS_MATERIAL_LOTE_SERIE_ALMA"
        serializeAs="String">
        <value>http://AJEQAS:8000/sap/bc/srt/rfc/sap/zws_material_lote_serie_alma/400/zws_material_lote_serie_alma/zws_material_lote_serie_alma_binding</value>
      </setting>
      <setting name="WS_POS_web_Ws_material_lote_serie_alma_PRD_ZWS_MATERIAL_LOTE_SERIE_ALMA"
        serializeAs="String">
        <value>http://ajeprd.eljuric.com:8000/sap/bc/srt/rfc/sap/zws_material_lote_serie_alma/400/zws_material_lote_serie_alma/zws_material_lote_serie_alma_binding</value>
      </setting>
      <setting name="WS_POS_web_wsGetInfoCliente_ZWS_DATOS_CLIENTE_POSWEBService"
        serializeAs="String">
        <value>http://AJEQAS:8000/sap/bc/srt/rfc/sap/zws_datos_cliente_posweb/400/zws_datos_cliente_posweb/zws_datos_cliente_posweb</value>
      </setting>
      <setting name="WS_POS_web_wsGetProvCiudParr_PRD_ZWS_CONSULTAR_PROVINCIAS"
        serializeAs="String">
        <value>http://ajeprd.eljuric.com:8000/sap/bc/srt/rfc/sap/zws_consultar_provincias/400/zws_consultar_provincias/zws_consultar_provincias_binding</value>
      </setting>
      <setting name="WS_POS_web_wsGetSubramo_PRD_ZWS_LISTA_SUBRAMOS"
        serializeAs="String">
        <value>http://ajeprd.eljuric.com:8000/sap/bc/srt/rfc/sap/zws_lista_subramos/400/zws_lista_subramos/zws_lista_subramos_binding</value>
      </setting>
      <setting name="WS_POS_web_wsAddUpdCliente_ZWS_ADD_UPD_CLIENTE"
        serializeAs="String">
        <value>http://ajeprd.eljuric.com:8000/sap/bc/srt/rfc/sap/zws_add_upd_cliente/400/zws_add_upd_cliente/zws_add_upd_cliente_binding</value>
      </setting>
    </WS_POS_web.Properties.Settings>
    <Ws_POS_web.Properties.Settings>
      <setting name="Ws_POS_web_Ws_Get_Cliente_ZSDWS_POS_CONSULTA_CLIENTES" serializeAs="String">
        <value>http://AJECUS.eljuric.com:8000/sap/bc/srt/rfc/sap/zsdws_pos_consulta_clientes/500/zsdws_pos_consulta_clientes/zsdws_pos_consulta_clientes_binding</value>
      </setting>
      <setting name="Ws_POS_web_Ws_Creacion_Cliente_N_PRD_ZWS_CREATER_COSTUMER_2010" serializeAs="String">
        <value>http://AJECUS.eljuric.com:8000/sap/bc/srt/rfc/sap/zws_add_upd_cliente/500/zws_add_upd_cliente/zws_add_upd_cliente_binding</value>
      </setting>
      <setting name="Ws_POS_web_wsFacturarSap_ZWS_GENERAR_FACTURA_CPService" serializeAs="String">
        <value>http://AJECUS.eljuric.com:8000/sap/bc/srt/rfc/sap/zws_generar_factura_cp/500/zws_generar_factura_cp/zws_generar_factura_cp</value>
      </setting>
      <setting name="Ws_POS_web_wsConsultaCombos_ZSDWS_POS_CONSULTA_COMBOS" serializeAs="String">
        <value>http://AJECUS.eljuric.com:8000/sap/bc/srt/rfc/sap/zsdws_pos_consulta_combos/500/zsdws_pos_consulta_combos/zsdws_pos_consulta_combos_binding</value>
      </setting>
      <setting name="Ws_POS_web_wsSecuencialSRI_ZWS_GENERAR_SECUENCIAL_CPService" serializeAs="String">
        <value>http://AJECUS.eljuric.com:8000/sap/bc/srt/rfc/sap/zws_generar_secuencial_cp/500/zws_generar_secuencial_cp/zws_generar_secuencial_cp</value>
      </setting>
      <setting name="Ws_POS_web_wsPrecioMaterial_ZWS_SDNETPR0" serializeAs="String">
        <value>http://AJECUS.eljuric.com:8000/sap/bc/srt/rfc/sap/zws_sdnetpr0/500/zws_sdnetpr0/zws_sdnetpr0_binding</value>
      </setting>
      <setting name="Ws_POS_web_wsLoteMaterial_ZWS_MATERIAL_LOTE_SERIE_ALMA" serializeAs="String">
        <value>http://AJECUS.eljuric.com:8000/sap/bc/srt/rfc/sap/zws_material_lote_serie_alma/500/zws_material_lote_serie_alma/zws_material_lote_serie_alma_binding</value>
      </setting>
      <setting name="Ws_POS_web_wsRecaudoContado_ZSDWS_NWPOS_RECAUDO1" serializeAs="String">
        <value>http://AJECUS.eljuric.com:8000/sap/bc/srt/rfc/sap/zsdws_nwpos_recaudo1/500/zsdws_nwpos_recaudo1/zsdws_nwpos_recaudo1_binding</value>
      </setting>
      <setting name="Ws_POS_web_wsNotaCredito_ZWS_NOTA_CREDITO_VALORService" serializeAs="String">
        <value>http://AJECUS.eljuric.com:8000/sap/bc/srt/rfc/sap/zws_nota_credito_valor/500/zws_nota_credito_valor/zws_nota_credito_valor</value>
      </setting>
      <setting name="Ws_POS_web_Ws_Consulta_GiftCard_PRD_ZWS_CONSULTA_GIFCARD" serializeAs="String">
        <value>http://AJECUS.eljuric.com:8000/sap/bc/srt/rfc/sap/zws_consulta_gifcard/500/zws_consulta_gifcard/zws_consulta_gifcard_binding</value>
      </setting>
    </Ws_POS_web.Properties.Settings>
  </applicationSettings>
</configuration>